body{
    background-size: cover;
    background-color: #3a4965;
}
.box {
    padding-top: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    font-family: Arimo;
}
table, th, td{
    border-collapse: collapse;
    border: none;
}
.tb0 tr td {
    text-align: center;
    font-size: 16px;
    color: #484848;
    font-weight: 400;
}
.fa{
    position: relative;
    bottom: 10px;
    color: #848484;
}
.utility1, .utility2{
    font-size: 24px;
    font-weight: 600;
    color:  #484848;
}
th{
    padding-top: 32px;
    padding-bottom: 32px;
}
.standard,
.ultimate,
.premium{
    font-size: 24px;
    font-weight: 700;
}
.choice{
    font-size: 14px;
    width: 198px;
    background-color: #fafafa;
    color:  #484848;
}
.plan{
    font-size: 24px;
}
.utility1{
    width: 157px;
    background-color: #e3e3e3;
}
.utility2{
    width: 157px;
    background-color: #f2f2f2;
}
.dollar{
    font-size: 36px;
    font-weight: 700;
}
.coins{
    font-size: 18px;
    position: relative;
    bottom: 13px;
    font-weight: 700;
}
.month{
    font-size: 14px;
    font-weight: 700;
    position: relative;
    bottom: 4px;
}
.standard,
.ultimate,
.premium,
.dollar,
.coins,
.month,
 button {
    color: #ffffff;
}
#first{
    background-color: #89c331;
}
#second{
    background-color: #f04a56;
}
#third{
    background-color: #20807c;
}
button{
    width: 144px;
    font-weight: 700;
    color: #ffffff;
    padding-top: 15px;
    padding-bottom: 6px;
    padding-left: 33px;
    padding-right: 33px;
    cursor: pointer;
    border-radius: 5px;
    border-top: none;
    border-right: none;
    border-left: none;
}
button{
    background-color: #414141;
    border-bottom: 7px solid #343434;
}
button:hover{
    background-color: #343434;

}
.tb0 tr td:nth-child(even){
    box-shadow: 7px -2px 5px 0px rgba(0, 0, 0, 0.27);
    background-color: #e3e3e3;
}
.tb0 tr td:nth-child(odd){
    box-shadow: 7px -2px 5px 0px rgba(0, 0, 0, 0.27)  ;
    background-color: #f2f2f2;
}